<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Expedia Automation Testing">

	<listeners>
		<listener class-name="org.com.expediaUtilities.GenerateTestReport" /> 
	</listeners>

	<test name="Expedia Tests">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="org.com.expediaTests.TC_001_ExpediaHomePageVerification" />
		</classes>

	</test>

</suite>
